.split {
  height: 30%;
  position: absolute;
  bottom: 0;
  overflow-x: hidden;
}
#bio{
}

.left {
  top:100%;
  left: 0;
  width: 45%;
  background-color: black;
}
.left2{
  top:130%;
  left:0;
  width: 55%;
  background-color: black;
 }

.right {
  top:100%;
  right: 0;
  width: 55%;
  background-color: gray;
}

.right2{
  top:130%;
  right:0;
  width: 45%;
  background-color: gray;
 }

.rightBio {
  position: absolute;
  right: 5%;
  height:0;
  transform: translate(-50%, -50%); 
  text-align: right;
}

.centered img {
  width: 300px;
  border-radius: 50%;
}

body, html {
  font-family: Arial;
  color: white;
  height: 100%;
}

.parallax{

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
  background-image: url("background.jpg");
  min-height:100%;
}

#parallax2 {
  background-image: url("gitlabbg.jpg");
  min-height: 160%;
}

#parallax3 {
  background-image: url("gitlabbg.jpg");
  min-height: 65%;
}
#parallax4 {
  background-image: url("background1.jpg");
  min-height:100%;

#navbar {
  overflow: hidden;
  z-index:1;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
html {
  scroll-behavior: smooth;
}

#projects{}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}
